/* Add here all your CSS customizations */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');


.product-img img {
    max-width: 100%;
    padding: 20px;
    margin: 5px;
}

.parallax {
    /* The image used */
    background-image: url('../img/nyc.jpg');
  
    /* Set a specific height */
    height: 200px;
    padding-top:100px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(-1px) scale(1.5);
    position: relative;
    text-align: center;
  }

  .centered {
    border-radius: 3px;
    padding: 20px;
    /* color: #706F6F; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
  }

  .product-info-detail {
    list-style-type: none;
    line-height: 30px;
    align-content: center;
    font-size: 16px;
  }

  .email {
    margin-top: 60px;
    height: 60px;
    width: 100px;
    background-color: #233049;
    border-color: white;
    border-radius: 6px;
    color: white;
  }

  @media only screen and (max-width: 490px) {
    .centered {
        font-size: 15px;
        width: 100%;
        padding: 70px;
        height: 300px;
      }

    .parallax {
      height: 400px;
      -moz-background-size: auto;
      -webkit-background-size: auto;
      background-attachment: scroll;
      background-position: top;
      background-size: auto;
    }
  }